*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* Utility classes */
.container{
  width: 80%;
  margin: auto;
}

.float_left{
  float: left;
}

.green{
  background-color: #7cbb02;
}

.grey{
  background-color: #d3d3d3;
}

.mt_40{
  margin-top: 40px;
}

.mb_40{
  margin-bottom: 40px;
}
/* Fine utility classes */

/* Header + navbar */
header{
  background-color: #0d325a;
  color: white;
}
/* navbar */
.navbar{
  height: 80px;
}

.navbar_container::after{
  content: "";
  display: table;
  clear: both;
}

.nav_left{
  width: 15%;
  padding-top: 15px;
}

.nav_center{
  width: 45%;
}

.nav_right{
  width: 40%;
  text-align: right;
}

#login{
  border: 1px solid white;
  padding: 9px 30px;
}

#piano{
  border: 1px solid black;
  padding: 9px 15px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 18px;
  line-height: 80px;
  vertical-align: middle;
}

.nav_center>a:hover{
  color: orange;
}

/* Fine navbar */
.header_image{
  height: 470px;
  background-image: url("../img/banner_header.png");
  background-size: 73%;
  background-position: 127% 115%;
  background-repeat: no-repeat;
}

.header_title{
  height: 100%;
  position: relative;
}

.title{
  width: 50%;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
}

.title h1{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}

.button{
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.center_button{
  font-size: 14px;
  padding: 20px;
  border: 1px solid black;
}

/* Fine Header + Navbar */
/* Parte grigia sotto la navbar */
.under_header{
  text-align: center;
}

.under_header .undertitle{
  border-color:
  padding: 45px 0;
}

.undertitle h2{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.undertitle h3{
  color: grey;
  font-weight: 400;
}
/* Fine della parte grigia sotto la navbar */

/* Prima riga da tre colonne*/
.row_one:after{
  content: "";
  display: table;
  clear: both;
}

.col_4{
  width: 30%;
}

.row_one :nth-child(2){
  margin-left: 5%;
  margin-right: 5%;
}

.row_one{
  text-align: center;
}

.img_first_row{
  height: 160px;
}

.col_4 h2{
  color: #7cbb02;
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0 ;
}

.col_4 hr{
  width: 25%;
  margin: auto;
}

p{
  line-height: 1.5em;
  color: grey;
  margin-top: 20px;
  font-size: 18px;
}
/* Fine prima riga da tre colonne */

/* Seconda riga da due colonne */

.row_two:after{
  content: "";
  display: table;
  clear: both;
}

.col_6{
  width: 50%;
}

#between_rows{
  width: 98%;
  margin: auto;
  color: lightgrey;
}

#mountain{
  width:90%;
}

.row_two{
  text-align: left;
}

#personalize{
  padding-left: 50px;
  padding-right: 50px;
}

#personalize a{
  display: block;
  color: #5586bc;
  margin-top: 25px;
}
/* Fine seconda riga da due colonne */

/* Footer */
.footer_container::after{
  content: "";
  display: table;
  clear: both;
}

.f_element{
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.f_element h2{
  margin-left: 70px;
  font-size: 32px;
  font-weight: 500;
}

.selection{
  display: inline-block;
}

form button{
  border: 2px solid #7cbb02;
  padding: 20px;
}

#list_selection{
  color: grey;
  width: 20%;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

form span{
  color:grey;
  font-size: 20px;
}

.margin_selection{
  padding-left: 90px;
}
